daynamic.json
{
  "name": "Frappe CRM Lead - Create & Update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "VOICE_LEAD_TRIGGER",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1900, 0],
      "id": "webhook",
      "webhookId": "e9b800f0-c8b5-49e3-a80f-84d603f52d4d"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.isUpdate }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-1680, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.body.fileUrl }}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [-1472, -100]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [-1248, -100],
      "credentials": { "openAiApi": { "id": "QyNlgfTPAtgk254Q", "name": "OpenAi account" } }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ $json.body.crmBaseUrl }}/api/method/frappe.desk.form.load.getdocinfo?doctype=CRM%20Lead",
        "options": {}
      },
      "name": "Get Lead Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [-1024, -100],
      "credentials": { "httpHeaderAuth": { "id": "9rzjvllW3eyLUvds", "name": "Header Auth account 2" } }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { fields: $input.item.json.docinfo.fields.filter(f => f.fieldtype !== 'Section Break' && f.fieldtype !== 'Column Break').map(f => ({ name: f.fieldname, label: f.label })) } };"
      },
      "name": "Parse Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, -100]
    },
    {
      "parameters": {
        "modelId": { "mode": "id", "value": "gpt-4o-mini" },
        "messages": {
          "values": [
            {
              "content": "=You are a CRM data extractor. Extract ONLY mentioned fields from transcription.\n\nText: {{ $('Transcribe Audio').item.json.text }}\n\nALLOWED FIELDS: {{ $('Parse Fields').item.json.fields.map(f => f.name + ' (' + f.label + ')').join(', ') }}\n\nRULES:\n- Use ONLY allowed field names\n- Output ONLY JSON\n\nExample: {\"first_name\": \"John\", \"status\": \"Contacted\"}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "name": "Parse to JSON",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [-352, -100],
      "credentials": { "openAiApi": { "id": "QyNlgfTPAtgk254Q", "name": "OpenAi account" } }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return JSON.parse($input.item.json.message.content);"
      },
      "name": "Extract Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, -100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !$json.body.isUpdate }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Create?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [224, -100]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PUT",
        "url": "={{ $json.body.crmBaseUrl }}/api/resource/CRM%20Lead/{{ $json.body.leadName }}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ $json }}",
        "options": {}
      },
      "name": "Update Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [448, -200],
      "credentials": { "httpHeaderAuth": { "id": "9rzjvllW3eyLUvds", "name": "Header Auth account 2" } }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot{{process.env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"chat_id\": {{ $json.body.chatId }},\n  \"text\": \"*Draft Lead*\\n\\n${Object.entries($json).map(([k,v]) => `• *${k}:* ${v}`).join('\\n')}\\n\\nConfirm?\",\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [ { \"text\": \"Confirm\", \"callback_data\": \"confirm_draft:{{ $uuid() }}\" } ],\n      [ { \"text\": \"Cancel\", \"callback_data\": \"cancel_draft\" } ]\n    ]\n  }\n}"
      },
      "name": "Send Draft + Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [448, 0]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot{{process.env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "jsonParameters": true,
        "bodyParametersJson": "={\n \"chat_id\": {{ $json.body.chatId }},\n \"text\": \"Lead updated! View: {{ $json.body.crmBaseUrl }}/app/lead/{{ $json.body.leadName }}\",\n \"parse_mode\": \"Markdown\"\n}"
      },
      "name": "Send Update Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [672, -200]
    }
  ],
  "connections": {
    "Webhook": { "main": [ [ { "node": "Is Update?", "type": "main", "index": 0 } ] ] },
    "Is Update?": {
      "main": [
        [ { "node": "Download Audio", "type": "main", "index": 0 } ],
        [ { "node": "Download Audio", "type": "main", "index": 0 } ]
      ]
    },
    "Download Audio": { "main": [ [ { "node": "Transcribe Audio", "type": "main", "index": 0 } ] ] },
    "Transcribe Audio": { "main": [ [ { "node": "Get Lead Fields", "type": "main", "index": 0 } ] ] },
    "Get Lead Fields": { "main": [ [ { "node": "Parse Fields", "type": "main", "index": 0 } ] ] },
    "Parse Fields": { "main": [ [ { "node": "Parse to JSON", "type": "main", "index": 0 } ] ] },
    "Parse to JSON": { "main": [ [ { "node": "Extract Lead Data", "type": "main", "index": 0 } ] ] },
    "Extract Lead Data": { "main": [ [ { "node": "Is Create?", "type": "main", "index": 0 } ] ] },
    "Is Create?": {
      "main": [
        [ { "node": "Send Draft + Confirm", "type": "main", "index": 0 } ],
        [ { "node": "Update Lead", "type": "main", "index": 0 } ]
      ]
    },
    "Update Lead": { "main": [ [ { "node": "Send Update Link", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "fixed-workflow",
  "tags": []
}