updated-confirmlead.json
{
  "name": "CONFIRM_LEAD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "CONFIRM_LEAD",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        208
      ],
      "id": "22e60f80-bab3-4a1d-982a-3ce133579b4f",
      "name": "Wait for Confirmation1",
      "webhookId": "f69f5152-6e49-41f0-a5a2-9424e8e4310e"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ ($json.leadData.first_name || '').trim() }}",
        "rules": {
          "rules": [
            {
              "operation": "=equal",
              "value2": "={{ '' }}",
              "output": 1
            },
            {
              "operation": "notEqual",
              "value2": "={{ '' }}"
            }
          ]
        }
      },
      "name": "Check Mandatory Fields1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        80,
        176
      ],
      "id": "e59f1f35-21f1-4bba-a481-75062c6ef64b"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{\n  \"chat_id\": $json.chatId,\n  \"text\": \"Please provide your *First Name* to create the lead it is mandatory so Record again please!\",\n  \"parse_mode\": \"Markdown\"\n}}"
      },
      "name": "Prompt User1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        304,
        304
      ],
      "id": "f06e711c-e704-4f56-a903-1df058fd0894"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $json.crmBaseUrl }}/api/resource/CRM%20Lead",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "={{ $json.leadData }}",
        "headerParametersJson": "={{\n  \"Authorization\": \"token \" + $('Wait for Confirmation1').item.json.body.frappeApiKey + \":\" + $('Wait for Confirmation1').item.json.body.frappeApiSecret\n}}"
      },
      "name": "Create Lead1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        304,
        112
      ],
      "id": "7256d9b2-e6ef-4828-8b8b-5ae0a6132ba5",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{\n  \"chat_id\": {{ $('Wait for Confirmation1').item.json.body.chatId }},\n  \"text\": \"Lead created! View here: {{ $('Wait for Confirmation1').item.json.body.crmBaseUrl + '/app/crm-lead/view/list?name=' + encodeURIComponent('[\\\"like\\\",\\\"%' + ($('Create Lead1').item.json.body.data.name || 'unknown') + '%\\\"]') }}\",\n  \"parse_mode\": \"Markdown\"\n}}"
      },
      "name": "Send CRM Link1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        528,
        112
      ],
      "id": "d80998f6-d716-4ecd-9ea2-928e485c0686"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Code Node after Wait for Confirmation1\nconst text = $json.body.leadData;\nlet leadData = {};\n\nif (Array.isArray(text)) {\n  // Parse from message lines\n  text.forEach(line => {\n    const match = line.match(/• \\*(.+?):\\* (.+)/);\n    if (match) {\n      const key = match[1].trim().toLowerCase().replace(/ /g, '_');\n      leadData[key] = match[2].trim();\n    }\n  });\n} else if (typeof text === 'string') {\n  try {\n    leadData = JSON.parse(text);\n  } catch {}\n}\n\nreturn {\n  json: {\n    draftId: $json.body.draftId,\n    chatId: $json.body.chatId,\n    crmBaseUrl: $json.body.crmBaseUrl,   // Added\n    leadData\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        208
      ],
      "id": "84eed4d5-9778-418a-9794-b60b41f88ef3",
      "name": "leadData"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.leadData.tasks }}",
        "rules": {
          "rules": [
            {
              "operation": "isNot",
              "value2": "={{ [] }}"
            }
          ]
        }
      },
      "name": "Check for Tasks",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        528,
        240
      ],
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return $json.leadData.tasks;"
      },
      "name": "Iterate Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        240
      ],
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Wait for Confirmation1').item.json.body.crmBaseUrl }}/api/resource/ToDo",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{\n  \"subject\": \"{{ $json.title }}\",\n  \"description\": \"{{ $json.description || '' }}\",\n  \"due_date\": \"{{ $json.due_date || '' }}\",\n  \"reference_doctype\": \"CRM Lead\",\n  \"reference_name\": \"{{ $('Create Lead1').item.json.body.data.name }}\"\n}}",
        "headerParametersJson": "={{\n  \"Authorization\": \"token \" + $('Wait for Confirmation1').item.json.body.frappeApiKey + \":\" + $('Wait for Confirmation1').item.json.body.frappeApiSecret\n}}"
      },
      "name": "Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        976,
        240
      ],
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{\n  \"chat_id\": {{ $('Wait for Confirmation1').item.json.body.chatId }},\n  \"text\": \"Task '{{ $json.title }}' created and linked to lead.\",\n  \"parse_mode\": \"Markdown\"\n}}"
      },
      "name": "Send Task Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        240
      ],
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.leadData.notes }}",
        "rules": {
          "rules": [
            {
              "operation": "isNot",
              "value2": "={{ [] }}"
            }
          ]
        }
      },
      "name": "Check for Notes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        528,
        360
      ],
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return $json.leadData.notes;"
      },
      "name": "Iterate Notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        360
      ],
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Wait for Confirmation1').item.json.body.crmBaseUrl }}/api/resource/Note",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{\n  \"title\": \"{{ $json.title }}\",\n  \"content\": \"{{ $json.content || '' }}\",\n  \"reference_doctype\": \"CRM Lead\",\n  \"reference_name\": \"{{ $('Create Lead1').item.json.body.data.name }}\"\n}}",
        "headerParametersJson": "={{\n  \"Authorization\": \"token \" + $('Wait for Confirmation1').item.json.body.frappeApiKey + \":\" + $('Wait for Confirmation1').item.json.body.frappeApiSecret\n}}"
      },
      "name": "Create Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        976,
        360
      ],
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{\n  \"chat_id\": {{ $('Wait for Confirmation1').item.json.body.chatId }},\n  \"text\": \"Note '{{ $json.title }}' created and linked to lead.\",\n  \"parse_mode\": \"Markdown\"\n}}"
      },
      "name": "Send Note Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        360
      ],
      "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait for Confirmation1": {
      "main": [
        [
          {
            "node": "leadData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mandatory Fields1": {
      "main": [
        [
          {
            "node": "Create Lead1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead1": {
      "main": [
        [
          {
            "node": "Send CRM Link1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check for Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check for Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "leadData": {
      "main": [
        [
          {
            "node": "Check Mandatory Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Tasks": {
      "main": [
        [
          {
            "node": "Iterate Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterate Tasks": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "main": [
        [
          {
            "node": "Send Task Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Notes": {
      "main": [
        [
          {
            "node": "Iterate Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterate Notes": {
      "main": [
        [
          {
            "node": "Create Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Note": {
      "main": [
        [
          {
            "node": "Send Note Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9eb4c3ec-564d-4dba-96cd-7152dedfe2da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b4c3f07ffb2a9fbb4da3043f5991767bcfa9a87470082c7cd7bb38a6a0433a3"
  },
  "id": "EkuXG53ornPSfxFJ",
  "tags": []
}