jsonFile-workflow/CONFIRM_LEAD.json
{
  "name": "CONFIRM_LEAD",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('leadData').item.json.leadData.tasks && $('leadData').item.json.leadData.tasks.length > 0 }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "name": "Check for Tasks1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3840,
        3392
      ],
      "id": "011ccbac-6943-42e3-9ae1-a08fe21cb0fd"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const leadDataItem = $('leadData').item.json;\nconst leadReferenceName = $('Create Lead1').item.json.body.data.name || '';\n\nconst tasks = (leadDataItem.leadData && leadDataItem.leadData.tasks) || [];\n\nconst firstTask = tasks.find(task => typeof task === 'object' && task !== null);\n\nreturn {\n  json: firstTask\n    ? {\n        title: firstTask.title || '', // <--- Fixes $json.title\n        description: firstTask.description || '',\n        due_date: firstTask.due_date || '',\n        \n        leadReferenceName: leadReferenceName,\n        chatId: leadDataItem.chatId || '', // <--- Fixes $json.chatId\n        crmBaseUrl: leadDataItem.crmBaseUrl || '', // <--- Fixes $json.crmBaseUrl\n        frappeApiKey: leadDataItem.frappeApiKey || '',\n        frappeApiSecret: leadDataItem.frappeApiSecret || '',\n        leadName: (leadDataItem.leadData.first_name || '') + ' ' + (leadDataItem.leadData.last_name || '') // <--- Fixes $json.leadName\n      }\n    : {}\n};"
      },
      "name": "Iterate Tasks1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4064,
        3392
      ],
      "id": "392b772f-ae05-49b0-b5bb-ee853f1406fe"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $json.crmBaseUrl }}/api/resource/CRM%20Task",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{\nJSON.stringify({\ntitle: $json.title,\ndescription: $json.description || '',\ndue_date: '2025-11-28', // Replace with a valid date string\nreference_doctype: 'CRM Lead',\nreference_name: $json.leadReferenceName\n})\n}}",
        "headerParametersJson": "={\n  \"Authorization\": \"{{ 'token ' + $json.frappeApiKey + ':' + $json.frappeApiSecret }}\"\n}"
      },
      "name": "Create Task1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4272,
        3392
      ],
      "id": "c1de6b90-1957-4b05-b981-2f6df931690b"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"chat_id\": {{ $(\"Iterate Tasks1\").item.json.chatId }},\n  \"text\": \"Task '{{ $(\"Iterate Tasks1\").item.json.title }}' created for '{{ $(\"Iterate Tasks1\").item.json.leadName }}'!\\nView all tasks: [Task List]({{ $(\"Iterate Tasks1\").item.json.crmBaseUrl + 'crm/tasks/view' }})\",\n  \"parse_mode\": \"Markdown\"\n}"
      },
      "name": "Send Task Confirmation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4480,
        3392
      ],
      "id": "f64bb67b-abc7-499d-9e84-b1e4b2bdd706"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('leadData').item.json.leadData.notes && $('leadData').item.json.leadData.notes.length > 0 }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "name": "Check for Notes1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3840,
        3584
      ],
      "id": "988644a7-1b1b-4003-b9d6-19e19357a3b9"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const leadDataItem = $('leadData').item.json;\n// Safely get the CRM lead name created by the previous step\nconst leadReferenceName = $('Create Lead1').item.json.body.data.name || '';\n\n// Safely access the notes array\nconst notes = (leadDataItem.leadData && leadDataItem.leadData.notes) || [];\n\n// Find the first valid note object\nconst firstNote = notes.find(note => typeof note === 'object' && note !== null);\n\n// Return a single item, or an empty object if no valid note was found\nreturn {\n  json: firstNote\n    ? {\n        // Explicitly map note properties (safely handling null/undefined)\n        title: firstNote.title || '',\n        content: firstNote.content || '',\n        \n        // Add necessary context data\n        leadReferenceName: leadReferenceName,\n        chatId: leadDataItem.chatId || '',\n        crmBaseUrl: leadDataItem.crmBaseUrl || '',\n        frappeApiKey: leadDataItem.frappeApiKey || '',\n        frappeApiSecret: leadDataItem.frappeApiSecret || '',\n        leadName: (leadDataItem.leadData.first_name || '') + ' ' + (leadDataItem.leadData.last_name || '')\n      }\n    : {}\n};"
      },
      "name": "Iterate Notes1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4064,
        3584
      ],
      "id": "c7b595e7-3676-47a4-b9cd-adff18931c06"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $json.crmBaseUrl }}/api/resource/FCRM%20Note",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ {\ntitle: $json.title,\ncontent: $json.content || $json.description || '',\nreference_doctype: \"CRM Lead\",\nreference_name: $json.leadReferenceName\n} }}",
        "headerParametersJson": "={\n  \"Authorization\": \"{{ 'token ' + $json.frappeApiKey + ':' + $json.frappeApiSecret }}\"\n}"
      },
      "name": "Create Note1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4288,
        3584
      ],
      "id": "45ad0939-5f39-4f90-92d4-6687a76fe082"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"chat_id\": {{ $(\"Iterate Notes1\").item.json.chatId }},\n  \"text\": \"Note '{{ $(\"Iterate Notes1\").item.json.title }}' created for '{{ $(\"Iterate Notes1\").item.json.leadName }}'!\\nView all notes: [note List]({{ $(\"Iterate Notes1\").item.json.crmBaseUrl + 'crm/notes/view' }})\",\n  \"parse_mode\": \"Markdown\"\n}"
      },
      "name": "Send Note Confirmation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4496,
        3584
      ],
      "id": "a4df0d6f-5446-4226-a703-27b4acf0558c"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "CONFIRM_LEAD",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2528,
        3680
      ],
      "id": "f764da15-fe33-4a0e-bd11-fe67cf16081e",
      "name": "Wait for Confirmation1",
      "webhookId": "f69f5152-6e49-41f0-a5a2-9424e8e4310e"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ ($json.leadData.first_name || '').trim() }}",
        "rules": {
          "rules": [
            {
              "operation": "=equal",
              "value2": "={{ '' }}",
              "output": 1
            },
            {
              "operation": "notEqual",
              "value2": "={{ '' }}"
            }
          ]
        }
      },
      "name": "Check Mandatory Fields1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2976,
        3648
      ],
      "id": "bf4470fc-64c4-4413-adb1-d0bed808d2ba"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{\n  \"chat_id\": $json.chatId,\n  \"text\": \"Please provide your *First Name* to create the lead it is mandatory so Record again please!\",\n  \"parse_mode\": \"Markdown\"\n}}"
      },
      "name": "Prompt User1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3200,
        3776
      ],
      "id": "c405accd-414f-4f61-b4bc-4b6e4ac8fd91"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $json.crmBaseUrl }}/api/resource/CRM%20Lead",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "={{ $json.leadData }}",
        "headerParametersJson": "={\n  \"Authorization\": \"{{ 'token ' + $('Wait for Confirmation1').item.json.body.frappeApiKey + ':' + $('Wait for Confirmation1').item.json.body.frappeApiSecret }}\"\n}"
      },
      "name": "Create Lead1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3200,
        3584
      ],
      "id": "63577e28-89ca-431a-a7e3-a686f152a078",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{\nJSON.stringify({\nchat_id: $(\"Wait for Confirmation1\").item.json.body.chatId,\ntext: \"Lead created! View here: \" + $(\"Wait for Confirmation1\").item.json.body.crmBaseUrl + \"app/crm-lead/\" + ($(\"Create Lead1\").item.json.body.data.name || 'unknown'),\nparse_mode: \"Markdown\"\n})\n}}"
      },
      "name": "Send CRM Link1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3632,
        3680
      ],
      "id": "e982b899-00f0-4ff3-a8ee-3f9b38b7478e"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const leadData = { ...$json.body.leadData };\n\n// Remove tasks if empty, but ensure we keep the array if it has data\nif (Array.isArray(leadData.tasks) && leadData.tasks.length === 0) {\n  delete leadData.tasks;\n}\n\n// Remove notes if empty, but ensure we keep the array if it has data\nif (Array.isArray(leadData.notes) && leadData.notes.length === 0) {\n  delete leadData.notes;\n}\n\nreturn {\n  json: {\n    draftId: $json.body.draftId,\n    chatId: $json.body.chatId,\n    crmBaseUrl: $json.body.crmBaseUrl,\n    // Ensure we also pass API keys for later steps\n    frappeApiKey: $json.body.frappeApiKey,\n    frappeApiSecret: $json.body.frappeApiSecret,\n    leadData\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        3680
      ],
      "id": "ef476d96-b6f8-43f5-ab84-36b993e05c69",
      "name": "leadData"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.statusCode }}",
              "value2": "={{ 200 }}"
            }
          ]
        }
      },
      "name": "Lead Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3440,
        3584
      ],
      "id": "20e2a234-726a-47c8-b5ec-120544e346b3"
    }
  ],
  "pinData": {},
  "connections": {
    "Check for Tasks1": {
      "main": [
        [
          {
            "node": "Iterate Tasks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterate Tasks1": {
      "main": [
        [
          {
            "node": "Create Task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task1": {
      "main": [
        [
          {
            "node": "Send Task Confirmation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Notes1": {
      "main": [
        [
          {
            "node": "Iterate Notes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterate Notes1": {
      "main": [
        [
          {
            "node": "Create Note1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Note1": {
      "main": [
        [
          {
            "node": "Send Note Confirmation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Confirmation1": {
      "main": [
        [
          {
            "node": "leadData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mandatory Fields1": {
      "main": [
        [
          {
            "node": "Create Lead1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead1": {
      "main": [
        [
          {
            "node": "Lead Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "leadData": {
      "main": [
        [
          {
            "node": "Check Mandatory Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Created?": {
      "main": [
        [
          {
            "node": "Send CRM Link1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check for Tasks1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check for Notes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b9563e4-35cb-4fea-9b69-ececdd4c9cd9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b4c3f07ffb2a9fbb4da3043f5991767bcfa9a87470082c7cd7bb38a6a0433a3"
  },
  "id": "EkuXG53ornPSfxFJ",
  "tags": []
}