jsonFile-workflow/CONFIRM_DEAL.json
{
  "name": "CONFIRM_DEAL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "CONFIRM_DEAL",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        96
      ],
      "id": "a785f8ea-a7c5-491d-9eb4-d43ef9b1106b",
      "name": "Wait for Confirmation1",
      "webhookId": "f69f5152-6e49-41f0-a5a2-9424e8e4310e"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ ($json.dealData.name || '').trim() }}",
        "rules": {
          "rules": [
            {
              "operation": "=equal",
              "value2": "={{ '' }}",
              "output": 1
            },
            {
              "operation": "notEqual",
              "value2": "={{ '' }}"
            }
          ]
        }
      },
      "name": "Check Mandatory Fields1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -224,
        64
      ],
      "id": "e91fc7c7-ff9f-45d4-a695-57a25b341396"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { \"chat_id\": $json.chatId, \"text\": \"Please provide a *Deal Name* to create the deal it is mandatory so Record again please!\" } }}"
      },
      "name": "Prompt User1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "41dd8962-1540-46c9-a7ec-cbc5e4ffd478"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{ $json.crmBaseUrl }}/api/resource/CRM%20Deal",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "={{ $json.dealData }}",
        "headerParametersJson": "={ \"Authorization\": \"{{ 'token ' + $('Wait for Confirmation1').item.json.body.frappeApiKey + ':' + $('Wait for Confirmation1').item.json.body.frappeApiSecret }}\" }"
      },
      "name": "Create Deal1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e8da5385-0f33-42a2-8e5f-01989cb7d407",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "usDoofPm00vuGNxF",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={ \"chat_id\": \"{{ $('Wait for Confirmation1').item.json.body.chatId }}\", \"text\": \"Deal created! View here: {{ $('Wait for Confirmation1').item.json.body.crmBaseUrl }}/crm/deals/{{ $('Create Deal1').item.json.body.data.name || 'unknown' }}#activity\", \"parse_mode\": \"Markdown\" }"
      },
      "name": "Send CRM Link1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "55d6d9c7-9a8d-4413-99e7-a3c8c32d5081"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Code Node after Wait for Confirmation1\nconst text = $json.body.dealData;\nlet dealData = {};\n\nif (Array.isArray(text)) {\n  // Parse from message lines\n  text.forEach(line => {\n    const match = line.match(/• \\*(.+?):\\* (.+)/);\n    if (match) {\n      const key = match[1].trim().toLowerCase().replace(/ /g, '_');\n      dealData[key] = match[2].trim();\n    }\n  });\n} else if (typeof text === 'string') {\n  try {\n    dealData = JSON.parse(text);\n  } catch (e) {\n    // Ignore parsing errors\n  }\n}\n\nreturn {\n  json: {\n    draftId: $json.body.draftId,\n    chatId: $json.body.chatId,\n    crmBaseUrl: $json.body.crmBaseUrl,   // Added\n    dealData\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        96
      ],
      "id": "5dfb065f-1a24-4937-8ee6-d8bb0eefd8f0",
      "name": "dealData"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Create Deal1').item.json.body.data.name }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Deal Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        224,
        -128
      ],
      "id": "708e8f8f-d2b0-42b4-a1ea-3e32c6f5dafe-deal"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$('dealData').item.json.dealData.tasks}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Check for Tasks",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        448,
        -128
      ],
      "id": "2b2b3524-7115-4d98-bf4c-f0b824f7e77b-deal"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    tasks: $('dealData').item.json.dealData.tasks || []\n  }\n};"
      },
      "name": "Iterate Tasks",
      "type": "n8n-nodes-base.type",
      "typeVersion": 2,
      "position": [
        672,
        -128
      ],
      "id": "5e4e0a38-169c-4613-82e1-d401be13ade8-deal"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Wait for Confirmation1').item.json.body.crmBaseUrl }}/api/resource/CRM%20Task",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify({ title: $json.tasks[0].title, description: $json.tasks[0].description || '', due_date: '2025-11-28', reference_doctype: 'CRM Deal', reference_name: $('Create Deal1').item.json.body.data.name }) }}",
        "headerParametersJson": "={ \"Authorization\": \"{{ 'token ' + $('Wait for Confirmation1').item.json.body.frappeApiKey + ':' + $('Wait for Confirmation1').item.json.body.frappeApiSecret }}\" }"
      },
      "name": "Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        896,
        -128
      ],
      "id": "7bb2030e-78e5-4026-894f-f70e45b1ed01-deal"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={ \"chat_id\": {{ $(\"Wait for Confirmation1\").item.json.body.chatId }}, \"text\": \"Task '{{ $json.tasks[0].title }}' created for '{{ $('dealData').item.json.dealData.name }}'!\\nView all tasks: [Task List]({{ $(\"Wait for Confirmation1\").item.json.body.crmBaseUrl + 'crm/tasks/view' }})\", \"parse_mode\": \"Markdown\" }"
      },
      "name": "Send Task Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        -128
      ],
      "id": "6bef64a1-be22-4610-883e-e10389bf8512-deal"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$('dealData').item.json.dealData.notes}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Check for Notes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        448,
        64
      ],
      "id": "d8726b5e-12f8-4046-be53-68eefead4ced-deal"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    notes: $('dealData').item.json.dealData.notes || []\n  }\n};"
      },
      "name": "Iterate Notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        64
      ],
      "id": "cc0ebf4a-b30d-461d-b367-7d01d00db2b0-deal"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $(' Wait for Confirmation1').item.json.body.crmBaseUrl }}/api/resource/Note",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { title: $json.notes[0].title, content: $json.notes[0].content || '', reference_doctype: \"CRM Deal\", reference_name: $(\"Create Deal1\").item.json.body.data.name } }}",
        "headerParametersJson": "={ \"Authorization\": \"{{ 'token ' + $('Wait for Confirmation1').item.json.body.frappeApiKey + ':' + $('Wait for Confirmation1').item.json.body.frappeApiSecret }}\" }"
      },
      "name": "Create Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        896,
        64
      ],
      "id": "141714f3-89c8-434b-a981-02a14ecf8000-deal"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={ \"chat_id\": {{ $(\"Wait for Confirmation1\").item.json.body.chatId }}, \"text\": \"Note '{{ $json.notes[0].title }}' created for '{{ $('dealData').item.json.dealData.name }}'!\\nView all notes: [note List]({{ $(\"Wait for Confirmation1\").item.json.body.crmBaseUrl + 'crm/notes/view' }})\", \"parse_mode\": \"Markdown\" }"
      },
      "name": "Send Note Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        64
      ],
      "id": "24e8e661-415c-4c65-b59f-8658c29f17df-deal"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait for Confirmation1": {
      "main": [
        [
          {
            "node": "dealData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mandatory Fields1": {
      "main": [
        [
          {
            "node": "Create Deal1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Deal1": {
      "main": [
        [
          {
            "node": "Send CRM Link1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deal Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dealData": {
      "main": [
        [
          {
            "node": "Check Mandatory Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deal Created?": {
      "main": [
        [
          {
            "node": "Check for Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check for Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Tasks": {
      "main": [
        [
          {
            "node": "Iterate Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterate Tasks": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "main": [
        [
          {
            "node": "Send Task Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Notes": {
      "main": [
        [
          {
            "node": "Iterate Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterate Notes": {
      "main": [
        [
          {
            "node": "Create Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Note": {
      "main": [
        [
          {
            "node": "Send Note Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "809425c1-10be-4b67-9abd-2b23797b20e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b4c3f07ffb2a9fbb4da3043f5991767bcfa9a87470082c7cd7bb38a6a0433a3"
  },
  "id": "YLDuL4KIoUFHe8ju",
  "tags": []
}