jsonFile-workflow/CONFIRM_DEAL.json
{
  "name": "CONFIRM_DEAL",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('dealData1').item.json.dealData.tasks && $('dealData1').item.json.dealData.tasks.length > 0 }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "name": "Check for Tasks",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -416,
        464
      ],
      "id": "67f4c693-8cd1-48bb-862b-df9a7d0b0e36"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const dealDataItem = $('dealData1').item.json;\nconst dealReferenceName = $('Create Deal').item.json.body.data.name || '';\n\nconst tasks = (dealDataItem.dealData && dealDataItem.dealData.tasks) || [];\n\nreturn tasks.map(task => ({\n  json: {\n    title: task.title || '',\n    description: task.description || '',\n    due_date: task.due_date || '{{ new Date().toISOString().split(\"T\")[0] }}',\n    dealReferenceName: dealReferenceName,\n    chatId: dealDataItem.chatId || '',\n    crmBaseUrl: dealDataItem.crmBaseUrl || '',\n    frappeApiKey: dealDataItem.frappeApiKey || '',\n    frappeApiSecret: dealDataItem.frappeApiSecret || '',\n    dealName: dealDataItem.dealData.deal_name || ''\n  }\n}));"
      },
      "name": "Iterate Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        464
      ],
      "id": "5014c382-2874-4e39-8308-d1600a3268b2"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $json.crmBaseUrl }}/api/resource/CRM%20Task",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{\nJSON.stringify({\ntitle: $json.title,\ndescription: $json.description || '',\ndue_date: $json.due_date || '{{ new Date().toISOString().split(\"T\")[0] }}',\nreference_doctype: 'CRM Deal',\nreference_name: $('Create Deal').item.json.body.data.name\n})\n}}",
        "headerParametersJson": "={\n  \"Authorization\": \"{{ 'token ' + $json.frappeApiKey + ':' + $json.frappeApiSecret }}\"\n}"
      },
      "name": "Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        32,
        464
      ],
      "id": "79f343b5-957a-4f83-bf2d-cdfb001b3128"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"chat_id\": {{ $(\"Iterate Tasks\").item.json.chatId }},\n  \"text\": \"Task '{{ $(\"Iterate Tasks\").item.json.title }}' created for Deal '{{ $(\"Iterate Tasks\").item.json.dealName }}'!\\nView all tasks: [Task List]({{ $(\"Iterate Tasks\").item.json.crmBaseUrl + 'crm/tasks/view' }})\",\n  \"parse_mode\": \"Markdown\"\n}\n"
      },
      "name": "Send Task Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        256,
        464
      ],
      "id": "5a6767a5-6f21-4b55-9d06-39ecdf1b24d7"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('dealData1').item.json.dealData.notes && $('dealData1').item.json.dealData.notes.length > 0 }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "name": "Check for Notes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -416,
        656
      ],
      "id": "dbb1627f-130b-494b-a94e-3b34607d498b"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const dealDataItem = $('dealData1').item.json;\nconst dealReferenceName = $('Create Deal').item.json.body.data.name || '';\n\nconst notes = (dealDataItem.dealData && dealDataItem.dealData.notes) || [];\n\nreturn notes.map(note => ({\n  json: {\n    title: note.title || '',\n    content: note.content || '',\n    dealReferenceName: dealReferenceName,\n    chatId: dealDataItem.chatId || '',\n    crmBaseUrl: dealDataItem.crmBaseUrl || '',\n    frappeApiKey: dealDataItem.frappeApiKey || '',\n    frappeApiSecret: dealDataItem.frappeApiSecret || '',\n    dealName: dealDataItem.dealData.deal_name || ''\n  }\n}));"
      },
      "name": "Iterate Notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        656
      ],
      "id": "1190e1a6-991f-4787-957e-2b454cc8b4ad"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $json.crmBaseUrl }}/api/resource/FCRM%20Note",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ {\ntitle: $json.title,\ncontent: $json.content || '',\nreference_doctype: \"CRM Deal\",\nreference_name: $('Create Deal').item.json.body.data.name\n} }}",
        "headerParametersJson": "={\n  \"Authorization\": \"{{ 'token ' + $json.frappeApiKey + ':' + $json.frappeApiSecret }}\"\n}"
      },
      "name": "Create Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        32,
        656
      ],
      "id": "22a9d2b5-34c7-42da-83b1-a17361cb5028"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n\"chat_id\": {{ $(\"Iterate Notes\").item.json.chatId }},\n\"text\": \"Note '{{ $(\"Iterate Notes\").item.json.title }}' created for Deal '{{ $(\"Iterate Notes\").item.json.dealName }}'!\\nView all notes: [note List]({{ $(\"Iterate Notes\").item.json.crmBaseUrl + 'crm/notes/view' }})\",\n\"parse_mode\": \"Markdown\"\n}"
      },
      "name": "Send Note Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        256,
        656
      ],
      "id": "b3182a59-4421-407a-bfe3-a7b6a5c3269d"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ ($('dealData1').item.json.dealData.deal_name || '').trim() }}",
        "rules": {
          "rules": [
            {
              "value2": "={{ '' }}",
              "output": 1
            },
            {
              "operation": "notEqual",
              "value2": "={{ '' }}"
            }
          ]
        }
      },
      "name": "Check Mandatory Fields",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1088,
        720
      ],
      "id": "ffa9f6a8-c77e-4406-8df1-a705d09096a1"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"chat_id\": $json.chatId,\n  \"text\": \"Please provide the *Deal Name* to create the deal. It is mandatory, so record again please!\",\n  \"parse_mode\": \"Markdown\"\n}"
      },
      "name": "Prompt User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -864,
        848
      ],
      "id": "e6849c80-7f07-4692-b382-b825272ab5e9"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $json.crmBaseUrl }}/api/resource/CRM%20Deal",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "={{ $json.dealData }}",
        "headerParametersJson": "={\n  \"Authorization\": \"{{ 'token ' + $('Wait for Confirmation').item.json.body.frappeApiKey + ':' + $('Wait for Confirmation').item.json.body.frappeApiSecret }}\"\n}"
      },
      "name": "Create Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -864,
        656
      ],
      "id": "b8f06c37-677d-441e-91d3-aee96b4d137c",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{\nJSON.stringify({\nchat_id: $(\"Wait for Confirmation\").item.json.body.chatId,\ntext: \"Deal created! View here: \" + $(\"Wait for Confirmation\").item.json.body.crmBaseUrl + \"app/crm-deal/\" + ($(\"Create Deal\").item.json.body.data.name || 'unknown'),\nparse_mode: \"Markdown\"\n})\n}}"
      },
      "name": "Send CRM Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -640,
        752
      ],
      "id": "38808167-0eee-46d6-967b-48193f8b822e"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.statusCode }}",
              "value2": "={{ 200 }}"
            }
          ]
        }
      },
      "name": "Deal Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -640,
        560
      ],
      "id": "7c1ce09a-ac47-4438-8aeb-2b2acfe59540"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const dealData = { ...$json.body.dealData };\n\nif (Array.isArray(dealData.tasks) && dealData.tasks.length === 0) {\n  delete dealData.tasks;\n}\n\nif (Array.isArray(dealData.notes) && dealData.notes.length === 0) {\n  delete dealData.notes;\n}\n\nreturn {\n  json: {\n    draftId: $json.body.draftId,\n    chatId: $json.body.chatId,\n    crmBaseUrl: $json.body.crmBaseUrl,\n    frappeApiKey: $json.body.frappeApiKey,\n    frappeApiSecret: $json.body.frappeApiSecret,\n    dealData\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        752
      ],
      "id": "df206be9-a147-4e9f-9433-1405d46299e7",
      "name": "dealData1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "CONFIRM_DEAL",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1536,
        752
      ],
      "id": "dc322c8d-eda3-4f13-b6d6-d8d780759790",
      "name": "Wait for Confirmation",
      "webhookId": "f69f5152-6e49-41f0-a5a2-9424e8e4310e"
    }
  ],
  "pinData": {},
  "connections": {
    "Check for Tasks": {
      "main": [
        [
          {
            "node": "Iterate Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterate Tasks": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "main": [
        [
          {
            "node": "Send Task Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Notes": {
      "main": [
        [
          {
            "node": "Iterate Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterate Notes": {
      "main": [
        [
          {
            "node": "Create Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Note": {
      "main": [
        [
          {
            "node": "Send Note Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mandatory Fields": {
      "main": [
        [
          {
            "node": "Create Deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Deal": {
      "main": [
        [
          {
            "node": "Deal Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deal Created?": {
      "main": [
        [
          {
            "node": "Send CRM Link",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check for Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check for Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dealData1": {
      "main": [
        [
          {
            "node": "Check Mandatory Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Confirmation": {
      "main": [
        [
          {
            "node": "dealData1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "406184af-ba60-4e97-b706-e9c0c2ea8e37",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b4c3f07ffb2a9fbb4da3043f5991767bcfa9a87470082c7cd7bb38a6a0433a3"
  },
  "id": "YLDuL4KIoUFHe8ju",
  "tags": []
}