jsonFile-workflow/CONVERT_LEAD_TO_DEAL.json
{
  "name": "CONVERT_LEAD_TO_DEAL_V2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "CONVERT_LEAD_TO_DEAL",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a0e7bb25-a43a-45c3-89d8-8b1e79548da0",
      "webhookId": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{ $(\"Webhook\").item.json.body.crmBaseUrl }}/api/method/frappe.crm.doctype.lead.lead.convert_lead",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { \"lead\": $(\"Webhook\").item.json.body.leadName } }}"
      },
      "name": "Convert Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "9ba75c69-84b6-4c54-88ef-2c13021571b2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "usDoofPm00vuGNxF",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot{{ $(\"Webhook\").item.json.body.telegramBotToken }}/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"chat_id\": {{ $(\"Webhook\").item.json.body.chatId }},\n  \"text\": \"Lead '{{ $(\"Webhook\").item.json.body.leadName }}' successfully converted to a Deal!\",\n  \"parse_mode\": \"Markdown\"\n}"
      },
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "b4b31d8c-945a-4819-99d3-5dd176a04971"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Convert Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Lead": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1f8c7e0-d4d1-4a5f-b2e3-2e91a0c1f4e5",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "9B3i436QPII2p0IW",
  "tags": []
}