jsonFile-workflow/CREATE_TASK.json
{
  "name": "CREATE_TASK",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "CREATE_TASK",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ec6fc5e6-ada7-471d-a6d6-5077b5522d73",
      "webhookId": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{ $(\"Webhook\").item.json.body.crmBaseUrl }}/api/resource/CRM%20Task\n",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"title\": \"{{ $json.body.taskTitle }}\",\n  \"description\": \"{{ $json.body.taskDescription || '' }}\",\n  \"status\": \"{{ $json.body.taskStatus || 'Todo' }}\",\n  \"priority\": \"{{ $json.body.taskPriority || 'Medium' }}\",\n  \"reference_doctype\": \"{{ $json.body.referenceDoctype || 'CRM Lead' }}\",\n  \"reference_name\": \"{{ $json.body.docName || '' }}\"\n}\n",
        "headerParametersJson": "={\n  \"Authorization\": \"{{ 'token ' + $('Webhook').item.json.body.frappeApiKey + ':' + $('Webhook').item.json.body.frappeApiSecret }}\"\n}"
      },
      "name": "Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "299ded6a-648d-45c5-bc0f-53178dd73ec9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "usDoofPm00vuGNxF",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"chat_id\": {{ $(\"Webhook\").item.json.body.chatId }},\n  \"text\": \"Task '{{ $(\"Webhook\").item.json.body.taskTitle }}' created for '{{ $(\"Webhook\").item.json.body.docName }}'!\\nView all tasks: [Task List]({{ $(\"Webhook\").item.json.body.crmBaseUrl + '/crm/tasks/view' }})\",\n  \"parse_mode\": \"Markdown\"\n}"
      },
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "3686b3d1-f76b-40e9-9ebf-918ee01979ab"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "796e72dc-2f36-4c03-b452-f64b92c95244",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b4c3f07ffb2a9fbb4da3043f5991767bcfa9a87470082c7cd7bb38a6a0433a3"
  },
  "id": "42vacNpCBYvRUJ2T",
  "tags": []
}