jsonFile-workflow/Frappe CRM Deal - Create & Update.json
{
  "name": "Frappe CRM Deal - Create & Update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "VOICE_DEAL_TRIGGER",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3136,
        224
      ],
      "id": "822281bd-d9c4-4e4b-b384-24a2872cd25b",
      "webhookId": "e9b800f0-c8b5-49e3-a80f-84d603f52d4d"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.isUpdate }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2912,
        224
      ],
      "id": "74723145-73c3-45ea-b4f8-33e9fd273eea"
    },
    {
      "parameters": {
        "url": "={{ $json.body.fileUrl }}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2688,
        224
      ],
      "id": "6f854a99-d8b8-4c9a-be25-be8d52602e24"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2464,
        224
      ],
      "id": "73964b9c-4c65-48ea-b9a6-e96e282999a1",
      "credentials": {
        "openAiApi": {
          "id": "07RiFjrpWpiDUJB6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ $('Webhook').item.json.body.crmBaseUrl }}/api/method/frappe.client.get_list?doctype=CRM%20Deal&fields=%5B%22*%22%5D",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=token {{ $('Webhook').item.json.body.frappeApiKey }}:{{ $('Webhook').item.json.body.frappeApiSecret }}"
            }
          ]
        }
      },
      "name": "Get Deal Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2240,
        224
      ],
      "id": "f21a93ce-61eb-4f14-b51f-6b4fee37e548",
      "credentials": {
        "httpHeaderAuth": {
          "id": "usDoofPm00vuGNxF",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const deals = $input.item.json.message;\n\nif (!deals || deals.length === 0) {\n  throw new Error('No deals returned, cannot infer fields.');\n}\n\nconst firstDeal = deals[0];\nconst fields = Object.keys(firstDeal).map(key => ({\n  name: key,\n  label: key\n}));\n\nreturn { json: { fields } };\n"
      },
      "name": "Parse Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        224
      ],
      "id": "5b71c7c4-909c-4a7a-8a58-a8c4469a9295"
    },
    {
      "parameters": {
        "modelId": {
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Transcribe Audio').item.json.text }}\n\nALLOWED FIELDS: {{ $('Parse Fields').item.json.fields.map(f => f.name + ' (' + f.label + ')').join(', ') }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "name": "Parse to JSON",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1792,
        224
      ],
      "id": "a0fd9924-3b5f-422b-a8aa-1aca10b12164",
      "credentials": {
        "openAiApi": {
          "id": "07RiFjrpWpiDUJB6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: $input.item.json.message.content };"
      },
      "name": "Extract Deal Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        224
      ],
      "id": "00096047-02d3-4e24-be95-c3118e3c1fdb"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Webhook').item.json.body.isUpdate }}",
              "operation": "notEqual",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "name": "Is Create?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1216,
        224
      ],
      "id": "80e6e9ba-dd1b-46c1-9777-3b3132623277"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PUT",
        "url": "={{ $('Webhook').item.json.body.crmBaseUrl }}/api/resource/CRM%20Deal/{{ $('Webhook').item.json.body.docName }}",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json }}",
        "headerParametersJson": "={\n  \"Authorization\": \"{{ 'token ' + $('Webhook').item.json.body.frappeApiKey + ':' + $('Webhook').item.json.body.frappeApiSecret }}\"\n}"
      },
      "name": "Update Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -992,
        320
      ],
      "id": "240b09c0-dfac-4c88-915a-90bfb4941153",
      "credentials": {
        "httpHeaderAuth": {
          "id": "usDoofPm00vuGNxF",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"chat_id\": {{ $('Webhook').item.json.body.chatId }},\n  \"text\": \"Deal updated! View: {{ $('Webhook').item.json.body.crmBaseUrl }}/app/deal/{{ $json.data.name }}\",\n  \"parse_mode\": \"Markdown\"\n}"
      },
      "name": "Send Update Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -768,
        320
      ],
      "id": "fb18339d-02b6-469d-a399-d64455b3635d"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const dealData = $input.item.json;\nconst chatId = $('Webhook').item.json.body.chatId;\n\nif (!dealData || !chatId) {\n  throw new Error('Missing dealData or chatId');\n}\n\nconst fieldsList = Object.entries(dealData)\n  .map(([key, value]) => `• *${key}:* ${value}`)\n  .join('\\n');\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst draftId = uuidv4();\n\nconst telegramPayload = {\n  chat_id: chatId,\n  text: `*Draft Deal*\\n\\n${fieldsList || 'No data'}\\n\\nConfirm?`,\n  parse_mode: 'Markdown',\n  reply_markup: {\n    inline_keyboard: [\n      [{ text: 'Confirm', callback_data: `confirm_deal_draft:${draftId}` }],\n      [{ text: 'Cancel', callback_data: 'cancel_draft' }]\n    ]\n  },\n  draftId: draftId,\n  dealData: dealData\n};\n\nreturn { json: telegramPayload };\n"
      },
      "id": "3166eacb-05d7-44ec-b298-59205e9d24c2",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        128
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let dealData = {};\nif ($json.dealData) {\n  dealData = typeof $json.dealData === 'string'\n    ? JSON.parse($json.dealData)\n    : $json.dealData;\n}\n\nconst draftId = $json.draftId;\nconst chatId = $json.chat_id;\nconst crmBaseUrl = $('Webhook').item.json.body.crmBaseUrl;\n\nconst pretty = Object.entries(dealData)\n  .map(([k, v]) => {\n    const label = k.split('_').map(w => w[0].toUpperCase() + w.slice(1)).join(' ');\n    return `• *${label}:* ${v || '—'}`;\n  })\n  .join('\\n');\n\nreturn {\n  json: {\n    chat_id: chatId,\n    text: `*Draft Deal*\\n\\n${pretty}\\n\\nConfirm?\\n\\n(draftId: \\`${draftId}\\`)`,\n    parse_mode: \"Markdown\",\n    reply_markup: {\n      inline_keyboard: [\n        [\n          {\n            text: \"Confirm\",\n            callback_data: `confirm_deal_draft:${draftId}`\n          },\n          {\n            text: \"Cancel\",\n            callback_data: \"cancel_draft\"\n          }\n        ]\n      ]\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        128
      ],
      "id": "b770f1b2-77d3-47f1-9038-f12c24529106",
      "name": "Build Telegram Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=application/json",
        "body": "={{\n{\n  \"chat_id\": $json.chat_id,\n  \"text\": $json.text,\n  \"parse_mode\": \"Markdown\",\n  \"crmBaseUrl\": $json.crmBaseUrl,\n  \"reply_markup\": $json.reply_markup\n\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -320,
        128
      ],
      "id": "92636a4b-fd9a-4f82-8daa-6ca1ba93697d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9961b5cb-a7d8-4c43-91ff-33d03caa2558",
              "name": "draftId",
              "value": "={{ $json.draftId }}",
              "type": "string"
            },
            {
              "id": "82d5bad4-fe54-485f-aa8c-b187e0776bea",
              "name": "dealData",
              "value": "={{ $json.dealData }}",
              "type": "object"
            },
            {
              "id": "fa0812b6-2433-4636-ab10-68c0885034c1",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "caff8b8f-a8f3-4a58-beda-c28dac64c25a",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        128
      ],
      "id": "77a8bc93-c193-4bfe-a359-c72baa4b9620",
      "name": "StoreDraft Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Update?": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Get Deal Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Deal Fields": {
      "main": [
        [
          {
            "node": "Parse Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Fields": {
      "main": [
        [
          {
            "node": "Parse to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse to JSON": {
      "main": [
        [
          {
            "node": "Extract Deal Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Deal Data": {
      "main": [
        [
          {
            "node": "Is Create?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Create?": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Deal": {
      "main": [
        [
          {
            "node": "Send Update Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "StoreDraft Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Payload": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StoreDraft Data": {
      "main": [
        [
          {
            "node": "Build Telegram Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0d2ed1f0-d140-4b76-835a-fbf46c398e87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b4c3f07ffb2a9fbb4da3043f5991767bcfa9a87470082c7cd7bb38a6a0433a3"
  },
  "id": "es3EgTog8T3wA15e",
  "tags": []
}