jsonFile-workflow/Frappe CRM Lead - Create & Update.json
{
  "name": "Frappe CRM Lead - Create & Update (Draft Generator)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "VOICE_LEAD_TRIGGER",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -9344,
        1312
      ],
      "id": "9a7aadba-5e9b-4e50-887a-1c14dd51dd74"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.isUpdate }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -9120,
        1328
      ],
      "id": "202c77d1-2ce3-4775-8723-35bb5db32109"
    },
    {
      "parameters": {
        "url": "={{ $json.body.fileUrl }}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -8896,
        1312
      ],
      "id": "7133703d-8d59-4d6c-b362-e1c0d75a8559"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -8672,
        1312
      ],
      "id": "921869f3-a7c8-472d-8693-01d0a52f95c3"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ $('Webhook').item.json.body.crmBaseUrl }}/api/method/frappe.client.get_list?doctype=CRM%20Lead&fields=%5B%22*%22%5D&limit_page_length=1",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=token {{ $('Webhook').item.json.body.frappeApiKey }}:{{ $('Webhook').item.json.body.frappeApiSecret }}"
            }
          ]
        }
      },
      "name": "Get Lead Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -8448,
        1312
      ],
      "id": "0d62a22b-2868-4a94-b258-29230553755c"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const leads = $input.item.json.message;\n\nif (!leads || leads.length === 0) {\n  const safeFields = ['lead_name', 'first_name', 'last_name', 'company_name', 'email_id', 'mobile_no', 'status', 'source', 'territory'];\n  const fields = safeFields.map(key => ({ name: key, label: key }));\n\n  return { json: { fields, body: $('Webhook').item.json.body } };\n}\n\nconst firstLead = leads[0];\nconst fields = Object.keys(firstLead).map(key => ({ name: key, label: key }));\n\nreturn { json: { fields, body: $('Webhook').item.json.body } };"
      },
      "name": "Parse Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8224,
        1312
      ],
      "id": "55c4d293-2708-4100-b611-667794af7d7b"
    },
    {
      "parameters": {
        "modelId": {
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "==You are a CRM data extractor. Extract ONLY the mentioned fields from the transcription.\n\nText: {{ $('Transcribe Audio').item.json.text }}\n\nALLOWED FIELDS: {{ $('Parse Fields').item.json.fields.map(f => f.name + ' (' + f.label + ')').join(', ') }}\n\n---\nCRITICAL EXTRACTION RULES:\n1.  **MANDATORY FIRST NAME:** You MUST extract the first name and place it into the top-level property named **\"first_name\"**.\n2.  **STRICTLY ENFORCE:** The \"first_name\" property is mandatory for Lead Creation/Update.\n---\n\nRULES:\n- Use ONLY the field names provided in ALLOWED FIELDS.\n- If the user mentions tasks to be done, extract them into a \"tasks\" array. Each task should have a \"title\" and an optional \"description\".\n- If the user mentions notes to be taken, extract them into a \"notes\" array. Each note should have a \"title\" and \"content\".\n- If no tasks/notes are mentioned, do not include their keys in the output.\n- Output a single JSON object. Lead fields should be top-level properties.\n- Output ONLY JSON."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "name": "Parse to JSON",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -7936,
        1312
      ],
      "id": "52f6f380-60b7-4749-906d-472e35359a37"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const leadData = $input.item.json.message.content;\nconst context = $('Parse Fields').item.json.body;\n\n// Add the isUpdate and docName flags from the original webhook payload\nconst isUpdate = context.isUpdate || false;\nconst docName = context.docName || null;\n\n// Merge the parsed lead data with the original context, including the flags\nreturn { json: { ...context, leadData, isUpdate, docName } };"
      },
      "name": "Merge Lead Data & Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7664,
        1312
      ],
      "id": "97e6819e-e8c1-4b13-a447-0624d7764952"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const leadData = $json.leadData;\nconst chatId = $json.chatId;\n\nif (!leadData || !chatId) {\n  throw new Error('Missing leadData or chatId');\n}\n\nfunction formatValue(value) {\n  if (Array.isArray(value)) {\n    return value.map((item) => {\n      if (typeof item === 'object' && item !== null) {\n        return `\\n    - ${Object.entries(item).map(([k, v]) => `*${k}:* ${v}`).join(', ')}`;\n      }\n      return `\\n    - ${item}`;\n    }).join('');\n  }\n  return value;\n}\n\nconst fieldsList = Object.entries(leadData)\n  .map(([key, value]) => `• *${key.split('_').map(w => w[0].toUpperCase() + w.slice(1)).join(' ')}:* ${formatValue(value) || '—'}`)\n  .join('\\n');\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst draftId = uuidv4();\nconst isUpdateText = $json.isUpdate ? `*\\n\\n[UPDATING LEAD: ${$json.docName}]*` : '';\n\nconst telegramPayload = {\n  chat_id: chatId,\n  text: `*Draft Lead*${isUpdateText}\\n\\n${fieldsList || 'No data'}\\n\\nConfirm?`,\n  parse_mode: 'Markdown',\n  reply_markup: {\n    inline_keyboard: [\n      [{ text: 'Confirm', callback_data: `confirm_lead_draft:${draftId}` }],\n      [{ text: 'Cancel', callback_data: 'cancel_draft' }]\n    ]\n  },\n  // Data to store and pass to the final confirmation webhook\n  draftId: draftId,\n  leadData: leadData,\n  isUpdate: $json.isUpdate || false,\n  docName: $json.docName || null, \n  crmBaseUrl: $json.crmBaseUrl,\n  frappeApiKey: $json.frappeApiKey,\n  frappeApiSecret: $json.frappeApiSecret,\n  chatId: $json.chatId\n};\n\nreturn { json: telegramPayload };"
      },
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7392,
        1312
      ],
      "id": "e8a946e6-953a-4a6c-941e-359f13c63198"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9961b5cb-a7d8-4c43-91ff-33d03caa2558",
              "name": "draftId",
              "value": "={{ $json.draftId }}",
              "type": "string"
            },
            {
              "id": "82d5bad4-fe54-485f-aa8c-b187e0776bea",
              "name": "leadData",
              "value": "={{ $json.leadData }}",
              "type": "object"
            },
            {
              "id": "fa0812b6-2433-4636-ab10-68c0885034c1",
              "name": "chatId",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "caff8b8f-a8f3-4a58-beda-c28dac64c25a",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "04c1f964-b525-4c07-b6a9-8f2a50785c4d",
              "name": "isUpdate",
              "value": "={{ $json.isUpdate }}",
              "type": "boolean"
            },
            {
              "id": "d0f41d9c-124b-449e-8c3b-51347649514e",
              "name": "docName",
              "value": "={{ $json.docName }}",
              "type": "string"
            },
            {
              "id": "06e87f7a-85d1-4467-b50e-a50d24f0c9f1",
              "name": "crmBaseUrl",
              "value": "={{ $json.crmBaseUrl }}",
              "type": "string"
            },
            {
              "id": "00a588b3-3a7b-40f4-884c-7c0628e99480",
              "name": "frappeApiKey",
              "value": "={{ $json.frappeApiKey }}",
              "type": "string"
            },
            {
              "id": "e6f47703-9993-4a1d-91b1-2101680d2962",
              "name": "frappeApiSecret",
              "value": "={{ $json.frappeApiSecret }}",
              "type": "string"
            },
            {
              "id": "f9de969a-3e9d-43fa-b06c-037bef9cedc6",
              "name": "=={{ $json.text }}",
              "value": "",
              "type": "string"
            },
            {
              "id": "e7eb55a0-2102-4598-8b59-f1a415606914",
              "name": "=reply_markup",
              "value": "={{ $json.reply_markup }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7120,
        1312
      ],
      "id": "ba563203-7f51-488b-ad9c-48b21e766c27",
      "name": "StoreDraft Data"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: $json };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6896,
        1312
      ],
      "id": "763d5e7b-98ad-4fc1-871f-2eefdc6c12e0",
      "name": "Build Telegram Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text, parse_mode: 'Markdown', reply_markup: $json.reply_markup }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6624,
        1312
      ],
      "id": "e3de3a0f-673a-41a2-8ea7-495f3d2fd500",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Get Lead Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Fields": {
      "main": [
        [
          {
            "node": "Parse Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Fields": {
      "main": [
        [
          {
            "node": "Parse to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse to JSON": {
      "main": [
        [
          {
            "node": "Merge Lead Data & Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lead Data & Context": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "StoreDraft Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StoreDraft Data": {
      "main": [
        [
          {
            "node": "Build Telegram Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Payload": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b9563e4-35cb-4fea-9b69-ececdd4c9cd9",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "EkuXG53ornPSfxFJ_updated_draft",
  "tags": []
}