jsonFile-workflow/Frappe CRM Deal - Create & Update.json
{
  "name": "Frappe CRM Deal - Create & Update (Draft Generator)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "VOICE_DEAL_TRIGGER",
        "options": {}
      },
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3456,
        752
      ],
      "id": "bf788ee0-9db5-430e-9c1f-dafdf550706c",
      "webhookId": "e9b800f0-c8b5-49e3-a80f-84d603f52d4d"
    },
    {
      "parameters": {
        "url": "={{ $json.body.fileUrl }}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Download Audio1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -3232,
        752
      ],
      "id": "643a46f3-d65f-458b-9c95-0d5d69ba6900"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "name": "Transcribe Audio1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3008,
        752
      ],
      "id": "7f4fb570-dffc-4234-bb7d-61a1789d0e4e",
      "credentials": {
        "openAiApi": {
          "id": "07RiFjrpWpiDUJB6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ $('Webhook1').item.json.body.crmBaseUrl }}/api/method/frappe.client.get_list?doctype=CRM%20Deal&fields=%5B%22*%22%5D",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=token {{ $('Webhook1').item.json.body.frappeApiKey }}:{{ $('Webhook1').item.json.body.frappeApiSecret }}"
            }
          ]
        }
      },
      "name": "Get Deal Fields1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2784,
        752
      ],
      "id": "73ddb2ab-99e3-4401-a81a-14e394f80c8d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "usDoofPm00vuGNxF",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const deals = $input.item.json.message;\n\nif (!deals || deals.length === 0) {\n  // Handle case where no deals exist (use a limited, safe list of fields for the AI)\n  const safeFields = ['name', 'deal_type', 'deal_value', 'status', 'owner'];\n  const fields = safeFields.map(key => ({\n    name: key,\n    label: key\n  }));\n\n  // Add all original input data back for the next nodes\n  return { json: { fields, body: $('Webhook1').item.json.body } };\n}\n\nconst firstDeal = deals[0];\nconst fields = Object.keys(firstDeal).map(key => ({\n  name: key,\n  label: key\n}));\n\n// Add all original input data back for the next nodes\nreturn { json: { fields, body: $('Webhook1').item.json.body } };\n"
      },
      "name": "Parse Fields1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2560,
        752
      ],
      "id": "adcf43aa-09f0-4e0d-905f-262bc6dd6a50"
    },
    {
      "parameters": {
        "modelId": {
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "==You are a CRM data extractor. Extract ONLY the mentioned fields from the transcription.\n\nText: {{ $('Transcribe Audio1').item.json.text }}\n\nALLOWED FIELDS: {{ $('Parse Fields1').item.json.fields.map(f => f.name + ' (' + f.label + ')').join(', ') }}\n\n---\nCRITICAL EXTRACTION RULES:\n1.  **MANDATORY DEAL NAME:** You MUST extract the main subject/name of the deal (e.g., \"Yulian\") and place it into the top-level property named **\"name\"**.\n2.  **STRICTLY ENFORCE:** The \"name\" property is the official Deal Name/Subject and MUST be included in the output.\n---\n\nRULES:\n- Use ONLY the field names provided in ALLOWED FIELDS.\n- **WARNING:** The \"name\" field is reserved for the human-readable deal name (e.g., \"Yulian\"), NOT the system-generated document ID (e.g., \"CRM-DEAL-0001\").\n- If the user mentions tasks to be done, extract them into a \"tasks\" array. Each task should have a \"title\" and an optional \"description\".\n- If the user mentions notes to be taken, extract them into a \"notes\" array. Each note should have a \"title\" and \"content\".\n- If no tasks are mentioned, do not include the \"tasks\" key in the output.\n- If no notes are mentioned, do not include the \"notes\" key in the output.\n- Output a single JSON object. Deal fields should be top-level properties.\n- Output ONLY JSON.\n\nExamples (Note the \"name\" field contains the Deal Name):\n- Deal with both tasks and notes:\n  {\n    \"name\": \"ACME Corp Deal\",\n    \"deal_value\": 10000,\n    \"tasks\": [\n      { \"title\": \"Send proposal\", \"description\": \"Draft and send the proposal by Friday\" }\n    ],\n    \"notes\": [\n      { \"title\": \"Initial Meeting\", \"content\": \"Client is interested in product X and Y. They mentioned a budget around $10k.\" }\n    ]\n  }"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "name": "Parse to JSON1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2336,
        752
      ],
      "id": "a69fc867-4607-4088-951b-4d576c4139a1",
      "credentials": {
        "openAiApi": {
          "id": "07RiFjrpWpiDUJB6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const dealData = $input.item.json.message.content;\n\n// Get original context from previous node's output\nconst context = $('Parse Fields1').item.json.body;\n\n// Merge the parsed deal data with the original context\nreturn { json: { ...context, dealData } };\n"
      },
      "name": "Merge Deal Data & Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        752
      ],
      "id": "81cbad05-2153-4ada-b176-c484369515f6"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const dealData = $json.dealData;\nconst chatId = $json.chatId;\n\nif (!dealData || !chatId) {\n  throw new Error('Missing dealData or chatId');\n}\n\n// Helper function to format values for Telegram\nfunction formatValue(value) {\n  if (Array.isArray(value)) {\n    return value.map((item) => {\n      if (typeof item === 'object' && item !== null) {\n        // Format nested objects like tasks/notes\n        return `\\n    - ${Object.entries(item).map(([k, v]) => `*${k}:* ${v}`).join(', ')}`;\n      }\n      return `\\n    - ${item}`;\n    }).join('');\n  } else if (typeof value === 'object' && value !== null) {\n    return Object.entries(value).map(([k, v]) => `*${k}:* ${v}`).join(', ');\n  }\n  return value;\n}\n\n// Format the main properties\nconst fieldsList = Object.entries(dealData)\n  .map(([key, value]) => `• *${key.split('_').map(w => w[0].toUpperCase() + w.slice(1)).join(' ')}:* ${formatValue(value) || '—'}`)\n  .join('\\n');\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst draftId = uuidv4();\nconst isUpdateText = $json.isUpdate ? `*\\n\\n[UPDATING DEAL: ${$json.docName}]*` : '';\n\nconst telegramPayload = {\n  chat_id: chatId,\n  text: `*Draft Deal*${isUpdateText}\\n\\n${fieldsList || 'No data'}\\n\\nConfirm?`,\n  parse_mode: 'Markdown',\n  reply_markup: {\n    inline_keyboard: [\n      [{ text: 'Confirm', callback_data: `confirm_deal_draft:${draftId}` }],\n      [{ text: 'Cancel', callback_data: 'cancel_draft' }]\n    ]\n  },\n  // Data to store and pass to the final confirmation webhook\n  draftId: draftId,\n  dealData: dealData,\n  isUpdate: $json.isUpdate || false,\n  docName: $json.docName || null, \n  crmBaseUrl: $json.crmBaseUrl,\n  frappeApiKey: $json.frappeApiKey,\n  frappeApiSecret: $json.frappeApiSecret,\n  chatId: $json.chatId\n};\n\nreturn { json: telegramPayload };"
      },
      "id": "71fe40a8-9999-4f78-bafd-0bc178ad6d20",
      "name": "Format Telegram Message1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        752
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9961b5cb-a7d8-4c43-91ff-33d03caa2558",
              "name": "draftId",
              "value": "={{ $json.draftId }}",
              "type": "string"
            },
            {
              "id": "82d5bad4-fe54-485f-aa8c-b187e0776bea",
              "name": "dealData",
              "value": "={{ $json.dealData }}",
              "type": "object"
            },
            {
              "id": "fa0812b6-2433-4636-ab10-68c0885034c1",
              "name": "chatId",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "caff8b8f-a8f3-4a58-beda-c28dac64c25a",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "04c1f964-b525-4c07-b6a9-8f2a50785c4d",
              "name": "isUpdate",
              "value": "={{ $json.isUpdate }}",
              "type": "boolean"
            },
            {
              "id": "d0f41d9c-124b-449e-8c3b-51347649514e",
              "name": "docName",
              "value": "={{ $json.docName }}",
              "type": "string"
            },
            {
              "id": "06e87f7a-85d1-4467-b50e-a50d24f0c9f1",
              "name": "crmBaseUrl",
              "value": "={{ $json.crmBaseUrl }}",
              "type": "string"
            },
            {
              "id": "00a588b3-3a7b-40f4-884c-7c0628e99480",
              "name": "frappeApiKey",
              "value": "={{ $json.frappeApiKey }}",
              "type": "string"
            },
            {
              "id": "e6f47703-9993-4a1d-91b1-2101680d2962",
              "name": "frappeApiSecret",
              "value": "={{ $json.frappeApiSecret }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1664,
        752
      ],
      "id": "3b40b529-89f6-472b-a425-502d3c5ee304",
      "name": "StoreDraft Data1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let dealData = $json.dealData;\n\nconst pretty = Object.entries(dealData)\n  .map(([k, v]) => {\n    const label = k.split('_').map(w => w[0].toUpperCase() + w.slice(1)).join(' ');\n    // This is now redundant as formatting happens in Format Telegram Message1\n    return `• *${label}:* ${v || '—'}`;\n  })\n  .join('\\n');\n\n// We rely on the formatting done in 'Format Telegram Message1' \n// to build the final message in StoreDraft Data1\n\nreturn {\n  json: $json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        752
      ],
      "id": "b32fd4bd-1472-42ea-968e-f97482987514",
      "name": "Build Telegram Payload1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text, parse_mode: 'Markdown', reply_markup: $json.reply_markup }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1216,
        752
      ],
      "id": "19d8c0fe-67eb-40ff-9a10-0ce707080caf",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Download Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio1": {
      "main": [
        [
          {
            "node": "Transcribe Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio1": {
      "main": [
        [
          {
            "node": "Get Deal Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Deal Fields1": {
      "main": [
        [
          {
            "node": "Parse Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Fields1": {
      "main": [
        [
          {
            "node": "Parse to JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse to JSON1": {
      "main": [
        [
          {
            "node": "Merge Deal Data & Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Deal Data & Context": {
      "main": [
        [
          {
            "node": "Format Telegram Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message1": {
      "main": [
        [
          {
            "node": "StoreDraft Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Payload1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StoreDraft Data1": {
      "main": [
        [
          {
            "node": "Build Telegram Payload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f2962f70-cde0-471e-8a1e-0229d9a375cb",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "es3EgTog8T3wA15e",
  "tags": []
}