jsonFile-workflow/Frappe CRM Lead - Create & Update.json
{
  "name": "Frappe CRM Lead - Create & Update (Draft Generator)",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const leadData = $input.item.json.message.content;\nconst context = $('Parse Fields7').item.json.body;\n\n// Add the isUpdate and docName flags from the original webhook payload\nconst isUpdate = context.isUpdate || false;\nconst docName = context.docName || null;\n\n// Merge the parsed lead data with the original context, including the flags\nreturn { json: { ...context, leadData, isUpdate, docName } };"
      },
      "name": "Merge Lead Data & Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6960,
        2016
      ],
      "id": "48785726-88c2-4c3f-bbf2-376fb0f282be"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "VOICE_LEAD_TRIGGER",
        "options": {}
      },
      "name": "Webhook7",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -8640,
        2016
      ],
      "id": "70be1eca-98e0-47b9-a237-5967e0b43150",
      "webhookId": "c541ecaa-c642-498f-8a57-8d84c85b8ef9"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.isUpdate }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Update?7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -8416,
        2016
      ],
      "id": "9db6d981-d0c9-40c7-89e5-394036acf0c1"
    },
    {
      "parameters": {
        "url": "={{ $json.body.fileUrl }}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Download Audio7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -8192,
        2016
      ],
      "id": "d997e885-e1de-4fa4-8d10-776b63494abc"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "name": "Transcribe Audio7",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -7968,
        2016
      ],
      "id": "40fe9c19-05ff-446b-8eab-d5a26c7e3366",
      "credentials": {
        "openAiApi": {
          "id": "07RiFjrpWpiDUJB6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Webhook7').item.json.body.crmBaseUrl }}/api/method/frappe.client.get_list?doctype=CRM%20Lead&fields=%5B%22*%22%5D&limit_page_length=1",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=token {{ $('Webhook7').item.json.body.frappeApiKey }}:{{ $('Webhook7').item.json.body.frappeApiSecret }}"
            }
          ]
        }
      },
      "name": "Get Lead Fields7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -7744,
        2016
      ],
      "id": "9e69c1aa-54a1-4132-88f6-0b2901205b08"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const leads = $input.item.json.message;\n\nif (!leads || leads.length === 0) {\n  const safeFields = ['lead_name', 'first_name', 'last_name', 'company_name', 'email_id', 'mobile_no', 'status', 'source', 'territory'];\n  const fields = safeFields.map(key => ({ name: key, label: key }));\n\n  return { json: { fields, body: $('Webhook7').item.json.body } };\n}\n\nconst firstLead = leads[0];\nconst fields = Object.keys(firstLead).map(key => ({ name: key, label: key }));\n\nreturn { json: { fields, body: $('Webhook7').item.json.body } };"
      },
      "name": "Parse Fields7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7520,
        2016
      ],
      "id": "3d989d49-73f1-4aeb-9c04-8cdb68196059"
    },
    {
      "parameters": {
        "modelId": {
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "==You are a CRM data extractor. Extract ONLY the mentioned fields from the transcription.\n\nText: {{ $('Transcribe Audio7').item.json.text }}\n\nALLOWED FIELDS: {{ $('Parse Fields7').item.json.fields.map(f => f.name + ' (' + f.label + ')').join(', ') }}\n\n---\nCRITICAL EXTRACTION RULES:\n1.  **MANDATORY FIRST NAME:** You MUST extract the first name and place it into the top-level property named **\"first_name\"**.\n2.  **STRICTLY ENFORCE:** The \"first_name\" property is mandatory for Lead Creation/Update.\n---\n\nRULES:\n- Use ONLY the field names provided in ALLOWED FIELDS.\n- If the user mentions tasks to be done, extract them into a \"tasks\" array. Each task should have a \"title\" and an optional \"description\".\n- If the user mentions notes to be taken, extract them into a \"notes\" array. Each note should have a \"title\" and \"content\".\n- If no tasks/notes are mentioned, do not include their keys in the output.\n- Output a single JSON object. Lead fields should be top-level properties.\n- Output ONLY JSON."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "name": "Parse to JSON7",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -7296,
        2016
      ],
      "id": "f371b50c-69f5-448b-b2e6-628fe9e69cbf",
      "credentials": {
        "openAiApi": {
          "id": "07RiFjrpWpiDUJB6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const leadData = $json.leadData;\nconst chatId = $json.chatId;\n\nif (!leadData || !chatId) {\n  throw new Error('Missing leadData or chatId');\n}\n\nfunction formatValue(value) {\n  if (Array.isArray(value)) {\n    return value.map((item) => {\n      if (typeof item === 'object' && item !== null) {\n        return `\\n    - ${Object.entries(item).map(([k, v]) => `*${k}:* ${v}`).join(', ')}`;\n      }\n      return `\\n    - ${item}`;\n    }).join('');\n  }\n  return value;\n}\n\nconst fieldsList = Object.entries(leadData)\n  .map(([key, value]) => `• *${key.split('_').map(w => w[0].toUpperCase() + w.slice(1)).join(' ')}:* ${formatValue(value) || '—'}`)\n  .join('\\n');\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst draftId = uuidv4();\nconst isUpdateText = $json.isUpdate ? `*\\n\\n[UPDATING LEAD: ${$json.docName}]*` : '';\n\nconst telegramPayload = {\n  chat_id: chatId,\n  text: `*Draft Lead*${isUpdateText}\\n\\n${fieldsList || 'No data'}\\n\\nConfirm?`,\n  parse_mode: 'Markdown',\n  reply_markup: {\n    inline_keyboard: [\n      [{ text: 'Confirm', callback_data: `confirm_lead_draft:${draftId}` }],\n      [{ text: 'Cancel', callback_data: 'cancel_draft' }]\n    ]\n  },\n  // Data to store and pass to the final confirmation webhook\n  draftId: draftId,\n  leadData: leadData,\n  isUpdate: $json.isUpdate || false,\n  docName: $json.docName || null, \n  crmBaseUrl: $json.crmBaseUrl,\n  frappeApiKey: $json.frappeApiKey,\n  frappeApiSecret: $json.frappeApiSecret,\n  chatId: $json.chatId\n};\n\nreturn { json: telegramPayload };"
      },
      "name": "Format Telegram Message7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6688,
        2016
      ],
      "id": "8a7186f6-fcee-4685-8e0c-e12bde5516c7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9961b5cb-a7d8-4c43-91ff-33d03caa2558",
              "name": "draftId",
              "value": "={{ $json.draftId }}",
              "type": "string"
            },
            {
              "id": "82d5bad4-fe54-485f-aa8c-b187e0776bea",
              "name": "leadData",
              "value": "={{ $json.leadData }}",
              "type": "object"
            },
            {
              "id": "fa0812b6-2433-4636-ab10-68c0885034c1",
              "name": "chatId",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "caff8b8f-a8f3-4a58-beda-c28dac64c25a",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "04c1f964-b525-4c07-b6a9-8f2a50785c4d",
              "name": "isUpdate",
              "value": "={{ $json.isUpdate }}",
              "type": "boolean"
            },
            {
              "id": "d0f41d9c-124b-449e-8c3b-51347649514e",
              "name": "docName",
              "value": "={{ $json.docName }}",
              "type": "string"
            },
            {
              "id": "06e87f7a-85d1-4467-b50e-a50d24f0c9f1",
              "name": "crmBaseUrl",
              "value": "={{ $json.crmBaseUrl }}",
              "type": "string"
            },
            {
              "id": "00a588b3-3a7b-40f4-884c-7c0628e99480",
              "name": "frappeApiKey",
              "value": "={{ $json.frappeApiKey }}",
              "type": "string"
            },
            {
              "id": "e6f47703-9993-4a1d-91b1-2101680d2962",
              "name": "frappeApiSecret",
              "value": "={{ $json.frappeApiSecret }}",
              "type": "string"
            },
            {
              "id": "f9de969a-3e9d-43fa-b06c-037bef9cedc6",
              "name": "=={{ $json.text }}",
              "value": "",
              "type": "string"
            },
            {
              "id": "e7eb55a0-2102-4598-8b59-f1a415606914",
              "name": "=reply_markup",
              "value": "={{ $json.reply_markup }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6416,
        2016
      ],
      "id": "a907353b-e9b5-43f0-a9cc-04ab3530a41e",
      "name": "StoreDraft Data7"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: $json };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6192,
        2016
      ],
      "id": "b1537e86-60e4-4857-9079-a02851d7fb75",
      "name": "Build Telegram Payload7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8453286778:AAFGJHgj7gO40706uyBBBlyWqvLmPBMUEko/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text, parse_mode: 'Markdown', reply_markup: $json.reply_markup }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5920,
        2016
      ],
      "id": "0c709338-59c8-45b4-8a3d-4569c556d2a1",
      "name": "HTTP Request7"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge Lead Data & Context": {
      "main": [
        [
          {
            "node": "Format Telegram Message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook7": {
      "main": [
        [
          {
            "node": "Download Audio7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio7": {
      "main": [
        [
          {
            "node": "Transcribe Audio7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio7": {
      "main": [
        [
          {
            "node": "Get Lead Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Fields7": {
      "main": [
        [
          {
            "node": "Parse Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Fields7": {
      "main": [
        [
          {
            "node": "Parse to JSON7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse to JSON7": {
      "main": [
        [
          {
            "node": "Merge Lead Data & Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message7": {
      "main": [
        [
          {
            "node": "StoreDraft Data7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StoreDraft Data7": {
      "main": [
        [
          {
            "node": "Build Telegram Payload7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Payload7": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "088be609-8863-4103-a142-58b57f5c562e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b4c3f07ffb2a9fbb4da3043f5991767bcfa9a87470082c7cd7bb38a6a0433a3"
  },
  "id": "PnMujQe8oGpP2UBU",
  "tags": []
}